<div class="container mt-4">
  <div class="card">
    <div class="card-header bg-primary text-white">
      Crear Producto
    </div>
    <div class="card-body">
      <form [formGroup]="productoForm" (ngSubmit)="onSubmit()">
        <!-- Nombre del Producto -->
        <div class="mb-3">
          <label for="name" class="form-label">Nombre del Producto</label>
          <input type="text" id="name" formControlName="name" class="form-control"
            placeholder="Ingrese el nombre del producto" />
          <div *ngIf="productoForm.get('name')?.invalid && productoForm.get('name')?.touched" class="text-danger">
            El nombre es requerido y debe tener menos de 100 caracteres.
          </div>
        </div>

        <!-- Categoría -->
        <div class="mb-3">
          <label for="categoryId" class="form-label">Categoría</label>
          <select id="categoryId" formControlName="categoryId" class="form-select">
            <option value="">Seleccione una categoría</option>
            <option *ngFor="let category of categories" [value]="category.Id">{{ category.Name }}</option>
          </select>
          <div *ngIf="productoForm.get('categoryId')?.invalid && productoForm.get('categoryId')?.touched"
            class="text-danger">
            Seleccione una categoría.
          </div>
        </div>

        <!-- Marca -->
        <div class="mb-3">
          <label for="brandId" class="form-label">Marca</label>
          <select id="brandId" formControlName="brandId" class="form-select">
            <option value="">Seleccione una marca</option>
            <option *ngFor="let brand of brands" [value]="brand.Id">{{ brand.Name }}</option>
          </select>
          <div *ngIf="productoForm.get('brandId')?.invalid && productoForm.get('brandId')?.touched" class="text-danger">
            Seleccione una marca.
          </div>
        </div>

        <!-- Precio -->
        <div class="mb-3">
          <label for="price" class="form-label">Precio</label>
          <input type="number" id="price" formControlName="price" class="form-control"
            placeholder="Ingrese el precio del producto" step="0.01" />
          <div *ngIf="productoForm.get('price')?.invalid && productoForm.get('price')?.touched" class="text-danger">
            El precio es requerido y debe ser un valor positivo.
          </div>
        </div>

        <!-- Stock -->
        <div class="mb-3">
          <label for="stock" class="form-label">Stock</label>
          <input type="number" id="stock" formControlName="stock" class="form-control"
            placeholder="Ingrese la cantidad en inventario" />
          <div *ngIf="productoForm.get('stock')?.invalid && productoForm.get('stock')?.touched" class="text-danger">
            El stock es requerido y debe ser un número positivo.
          </div>
        </div>

        <!-- Imagen -->
        <div class="mb-3" *ngIf="isEditMode === false">
          <label for="image" class="form-label">Imagen</label>
          <textarea id="image" formControlName="image" class="form-control" rows="3"
            placeholder="Ingrese una imagen del producto"></textarea>
        </div>

        <!-- Descripción -->
        <div class="mb-3">
          <label for="description" class="form-label">Descripción</label>
          <textarea id="description" formControlName="description" class="form-control" rows="3"
            placeholder="Ingrese una descripción del producto"></textarea>
          <div *ngIf="productoForm.get('description')?.invalid && productoForm.get('description')?.touched"
            class="text-danger">
            La descripción es requerida.
          </div>
        </div>

        <!-- Activo -->
        <div class="form-check mb-3">
          <input type="checkbox" id="active" formControlName="active" class="form-check-input" />
          <label for="active" class="form-check-label">Activo</label>
        </div>

        <!-- Botón para Enviar -->
        <button type="submit" class="btn btn-primary" [disabled]="productoForm.invalid">Guardar Producto</button>
      </form>
    </div>
  </div>
</div>